parameters:
    level: 5
    paths:
        - .
    excludePaths:
        # for cloud_function_apps
        - vendor
        - templates_c (?)
        - _deploy (?)

    treatPhpDocTypesAsCertain: false
