parameters:
    level: 5
    paths:
        - .
    excludePaths:
        # for independent projects
        - ../../cache
        - ../../src/common/
        - ../../vendor
        - ../../templates_c
        # for cloud_function_apps
        - cache
        - src/common/
        - vendor
        - templates_c

    treatPhpDocTypesAsCertain: false
